<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragments/lib.html::lib('Edit')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:object="${student}">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" readonly="readonly" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" readonly="readonly" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>LastName Name</td>
            <td><input type="text" readonly="readonly" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" readonly="readonly" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>DateOfBirth</td>
            <td><input type="date" readonly="readonly" th:field="*{dateOfBirth}"></td>
        </tr>
    </table>
    <a th:href="'/students/edit/'+${student.id}">Edit</a>
</form>
</body>
</html>