<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{'/users/save'}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>FirstName</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>BirthDay</td>
            <td><input type="date" th:field="*{birthDate}"></td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
</body>
</html>