<!doctype html>
<html lang="en">
<head th:replace="Fragment/lib.html::lib('Home')">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <nav th:replace="Fragment/lib.html::nav"></nav>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.min.js}"></script>
</body>
</html>